<div class="col-md-12" ng-controller="ProjectsCtrl">
  <h1>Portfolio</h1>
  <h4><a href="http://www.seventeendaysweb.org">Seventeen Days</a></h4>
  <p>
    Seventeen Days Interactive is a theory-based interactive film created by Carnegie Mellon University designed to educate young
    women about contraception and sexually transmitted infections (STIs). The film experience is interactive, allowing viewers to
    choose what they want to watch and tracks potential viewers progress through the app for analytics and usage.
    The application was built as a hybrid web/mobile application utilizing Ionic/Angular for the frontend and RoR api backend
  </p>
  <h4><a href="https://sortbox.co/sortbox">Sortbox</a></h4>
  <p>
    Sortbox is a web-based applicant review and organization system enabling small businesses to promote, collect and screen
    applications. This site is built with Ruby on Rails and utilizes Stripe for payment processing and management.
  </p>
  <h4><a href="http://www.rbcs.com">RBCS</a></h4>
  <p>
    Red Book Credit Services provides access to a comprehensive, continually updated database of the Fresh Produce Industry that
    helps users monitor companies business habits and helps them make connections to those companies. The frontend of the site
    was built entirely in Angular with a RoR api backend.
  </p>
</div>
