<div class="col-md-12" ng-controller="ContactCtrl">
    <h1>Contact Me</h1>
    <hr>
    <p>Thanks for visiting my site.</p>
    <p>If you would like to get in touch with me about a potential project, talk about my experience at Dev Bootcamp, or to talk about anything really,
      please feel free to contact me via email: <a href="mailto:ryanmilstead1@gmail.com">ryanmilstead1@gmail.com</a>.</p>
    <p>Also, if you're curious to see any of my old opera performances, they can be found <a href="https://www.youtube.com/results?search_query=ryan+milstead&page=1">here</a> via YouTube.</p>
    <p>And of course, if you feel so inclined, please follow me on social media.</p>
    <img src="img/curved_arrow.png" alt="" id="arrow">
    <div id="resume-link">
        <a href="img/Ryan_Milstead_Resume.pdf" target="_blank"><i class="fa fa-file-o fa-2x"> Resume</i></a>
    </div>
</div>
