<div class="col-md-12" ng-controller="HomeCtrl">
    <h1>Be the change you want to see in this world</h1>
    <h4>- Ghandi</h4>
    <hr>
    <p>Thanks for visiting my site. I'm a former opera singer turned web developer currently living in Pittsburgh, PA with my wonderful wife and our dog, Winston.</p>
    <div class="col-md-4">
      <img src="img/family_photo.jpg" id="family-photo">
    </div>
    <div class="col-md-8">
      <p>My site serves as an amalgamation of things I find interesting, I'm passionate about and all of the various ways you can get in touch with me. Take a look around and feel free to contact me if you're interesting in working on a project together.</p>
      <p>Below you can find a collection of interesting blogs, websites, books, and videos about development that I have come across in the past few years. Hopefully they can be as helpful to you as they have been to me.</p>
    </div>
    <div class="col-md-12">
      <h3>Interesting Things:</h3>
      <ul>
        <li><h4><a href="http://devbootcamp.com/" target="blank">Dev Bootcamp</a></h4></li>
        <li><h4><a href="http://amzn.to/1kQJCRv" target="blank">The Well-Grounded Rubyist</a></h4></li>
        <li><h4><a href="http://bit.ly/1TbvIor" target="blank">Why's (Poignant) Guide to Ruby</a></h4></li>
        <li><h4><a href="http://bit.ly/21ddIzd" target="blank">Angular Material</a></h4></li>
        <li><h4><a href="http://amzn.to/1R2aY3a" target="blank">Eloquent Javascript</a></h4></li>
        <li><h4><a href="http://bit.ly/1XmWxGG" target="blank">Griffin Caprio's Blog</a></h4></li>
      </ul>
      <youtube-video video-id="empathy"></youtube-video>
      <youtube-video video-id="rubyConf"></youtube-video>
    </div>
</div>
