<div class="col-md-12" ng-controller="AboutCtrl">
    <h1>Who is Ryan Milstead?</h1>
    <hr>
    <p>I was born and raised in Mississippi. My dad instilled in me a huge curiosity about how things worked and how they were put together. I spent many nights as a teenager taking apart random electronics in the house just looking at the complicated inter-workings and fixing whatever might be wrong. Then we got our first computer...</p>
    <p>Even using the old dos prompt computer that we had in the 90s, I was totally hooked by the magic of that machine. I knew that I loved computers at that point and they have always been a hobby of mine. My plan in high school was to go into video game design but life had something else in store for me.</p>

</div>
